h1{
  text-align: center;
  color: white;
}

body{
  background-color: rgb(102, 97, 97);
  font-family: 'Staatliches', cursive;
}

.full-img{
  display: block;
  margin: auto;
  padding-left: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 5000px;
  height: 5000px;
  background-color: rgba(0,0,0,0);
}

button{
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 125px;
  left: 140px;
}


.thumb-bar img{
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}