.col-1 {width: 9%;}
.col-2 {width: 16.66%;}
.col-3 {width: 33.33%}

@media only screen and (max-width: 900px) {

  [class*="col-"] {
    width: 100%;
  }
}

body {
    background-color: #fff;
    color: #333;
    margin: 0 auto;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif; 
  }

  img {
      float: left;
      margin: 0px;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .container{
    column-width: 600px;
    padding-top: 10px;
    padding-left: 70px;

  }

  .container2{
    column-width: 300px;
    padding-top: 80px;
    padding-right: 70px;

  }
  
  nav {
    background-color: #000;
    padding: .5em;
    text-align: center;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    word-spacing: 200px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    float: flex;
    padding-left: 60px;

  }

  .feature {
      width: 200px;
      padding: 15px;
  }
